:host {

  .example-button-row {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    button {
      min-width: 250px;
    }
  }

  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

}
