:host {
  .mat-grid-tile {
    background: lightblue;
  }

  .example-form {
    width: 100px;
  }

  .example-form-field {
    text-align: center;
    width: 450px;
  }

  example-section {
    margin: 12px 0;
  }

  .example-margin {
    margin: 0 12px;
  }

  .button-exit, button-add {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }

  .button {
    display: flex;
    justify-content: space-between;
    width: 425px;
  }

  .mini-input {
    max-width: 20%;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }

  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .example-button-container-edit {
    display: flex;
    justify-content: center;
    width: 160px;
  }

  .del-button {
    width: 24px;
  }
  .example-action-buttons {
    padding-bottom: 20px;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 675px;
  }

  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  .cards-hero {
    overflow: auto;
  }
  .cards {
    margin-top: auto;
    display: flex;
    justify-self: auto;
    margin-bottom: auto;
  }

}
