:host {
  .mat-grid-tile {
    background: lightblue;
  }
  .first-grid {

  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: azure;
  }
  .example-form {
    width: 400px;
  }

  .example-form-field {
    text-align: center;
    width: 475px;
  }

  example-section {
    margin: 12px 0;
  }

  .example-margin {
    margin: 0 12px;
  }

  .button-exit, button-add {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }

  .button {
    display: flex;
    justify-content: space-between;
    width: 425px;
    margin: 0 auto;
  }

}
