<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile class="first-grid" [colspan]="2" [rowspan]="6">
    <mat-dialog-content>
        <form class="example-form">
          <div>
            <h3>Имя</h3>
            <div>
              <mat-form-field class="example-form-field">
                <mat-label>
                  Имя
                </mat-label>
                <input [formControl]="heroNameControl"
                       type="text"
                       matInput>
              </mat-form-field>
            </div>
          </div>
        </form>
        <form class="example-form">
          <div>
            <h3>Сила</h3>
            <div>
              <mat-form-field class="example-form-field">
                <input [formControl]="heroPowerControl"
                       type="number"
                       matInput>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div>
          <h3>Способности</h3>
          <div>
            <mat-form-field class="example-form-field">
              <mat-select multiple [formControl]="heroAptitudeControl">
                <mat-option *ngFor="let element of abilityData" [value]="element.ability">
                  {{ element.ability }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <form class="example-form">
          <div>
            <h3>Уровень</h3>
            <div>
              <mat-form-field class="example-form-field">
                <input [formControl]="heroLevelControl"
                       type="number"
                       min="1"
                       max="10"
                       matInput>
              </mat-form-field>
            </div>
          </div>
          <div>
            <mat-dialog-actions class="button">
              <button [disabled]="heroForm.invalid"
                      (click)="addHero()"
                      type="reset"
                      class="button-add"
                      color="accent"
                      mat-raised-button>
                Создать героя
              </button>
            </mat-dialog-actions>
          </div>
        </form>
    </mat-dialog-content>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="4" [colspan]="4">
    <div class="text-inside-grid">
    <h3 class="lvl">Уровень героя от:</h3>
    <mat-form-field class="mini-input">
      <input [formControl]="levelFromControl"
             type="number"
             matInput>
    </mat-form-field>
    <h3>до:</h3>
    <mat-form-field class="mini-input">
      <input [formControl]="levelToControl"
             type="number"
             matInput>
    </mat-form-field>
    <h3>Способности:</h3>
    <mat-form-field>
      <mat-select multiple [formControl]="aptitudeControl">
        <mat-option *ngFor="let element of abilityData" [value]="element.ability">
          {{ element.ability }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div>
    <h3>Поиск по имени</h3>
    <mat-form-field>
      <input [formControl]="searchNameControl"
             type="text"
             matInput>
    </mat-form-field>
    <h3>Сортировка по уровню</h3>
    <mat-form-field>
      <mat-select [formControl]="sortLevelControl">
        <mat-option value="По возрастанию">По возрастанию</mat-option>
        <mat-option value="По убыванию">По убыванию</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="4" [colspan]="4">
    <mat-table [dataSource]="heroData" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef
            mat-header-cell>
          Имя
        </th>
        <td *matCellDef="let element"
            mat-cell>
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p>
                    Имя: <span> {{ element.name }} </span>
                  </p>
                </mat-panel-title>
                <mat-panel-description>
                  <mat-icon>accessible_forward</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <p>
                  Сила: {{ element.power }}
                </p>
                <p>
                  Способности: {{ element.aptitude }}
                </p>
                <p>
                  Уроверь: {{ element.level }}
                </p>
              </div>
              <div (click)="removeHero(element.id)"
                   class="example-button-row">
                <div class="example-flex-container">
                  <div class="example-button-container">
                    <button color="primary"
                            mat-fab>
                      <img src="../../../assets/images/trash.svg"
                           alt = "button of delete"
                           class = 'del-buttom'>
                    </button>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
      </ng-container>

    </mat-table>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="2" [colspan]="2" class="ability-add">
    <form>
      <div>
        <h3>Добавление способостей</h3>
        <div>
          <mat-form-field class="example-form-field">
            <input [formControl]="abilityControl"
                   type="text"
                   matInput>
          </mat-form-field>
        </div>
        <mat-dialog-actions class="button">
          <button [disabled]="abilityForm.invalid"
                  (click)="addAbility()"
                  type="button"
                  class="button-add"
                  color="accent"
                  mat-raised-button>
            Добавить способность
          </button>
        </mat-dialog-actions>
      </div>
    </form>
  </mat-grid-tile>
</mat-grid-list>
