<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile class="first-grid" [colspan]="2" [rowspan]="6">
    <mat-dialog-content>
        <form class="example-form">
          <div>
            <h3>Имя</h3>
            <div>
              <mat-form-field class="example-form-field">
                <mat-label>
                  Имя
                </mat-label>
                <input [formControl]="heroNameControl"
                       type="text"
                       matInput>
              </mat-form-field>
            </div>
          </div>
        </form>
        <form class="example-form">
          <div>
            <h3>Сила</h3>
            <div>
              <mat-form-field class="example-form-field">
                <input [formControl]="heroPowerControl"
                       type="number"
                       matInput>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div>
          <h3>Способности</h3>
          <div>
            <mat-form-field class="example-form-field">
              <mat-select multiple [formControl]="heroAptitudeControl">
                <mat-option *ngFor="let element of abilityData" [value]="element.ability">
                  {{ element.ability }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <form class="example-form">
          <div>
            <h3>Уровень</h3>
            <div>
              <mat-form-field class="example-form-field">
                <input [formControl]="heroLevelControl"
                       type="number"
                       min="1"
                       max="10"
                       matInput>
              </mat-form-field>
            </div>
          </div>
          <div>
            <mat-dialog-actions class="button">
              <button [disabled]="heroForm.invalid"
                      (click)="addHero()"
                      type="reset"
                      class="button-add"
                      color="accent"
                      mat-raised-button>
                Создать героя
              </button>
            </mat-dialog-actions>
          </div>
        </form>
    </mat-dialog-content>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="2" [colspan]="4">
    <div>
      <h3>
        <span>Уровень героя</span>
      </h3>
      <br>
      <h3>
        <span>Поиск по имени: </span>
      </h3>
    </div>
    <div>
      <div>
        <span>от </span>
        <mat-form-field class="mini-input">
          <input [formControl]="levelFromControl"
                 max="10"
                 min="1"
                 type="number"
                 matInput>
        </mat-form-field>
        <span> до </span>
        <mat-form-field class="mini-input">
          <input [formControl]="levelToControl"
                 max="10"
                 min="1"
                 type="number"
                 matInput>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input [formControl]="searchNameControl"
               type="text"
               matInput>
      </mat-form-field>
    </div>
    <div class="div3">
      <h3>
        <span>Способности: </span>
      </h3>
      <h3>
        <span>Сортировка по уровню: </span>
      </h3>
    </div>
    <div>
      <div>
        <mat-form-field>
          <mat-select multiple [formControl]="aptitudeControl">
            <mat-option *ngFor="let element of abilityData" [value]="element.ability">
              {{ element.ability }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field>
          <mat-select [formControl]="sortLevelControl">
            <mat-option value="1">По возрастанию</mat-option>
            <mat-option value="0">По убыванию</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button (click)="sortGroup()">Отправить форму</button>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="6" [colspan]="4" class="cards-hero">
    <div class="cards">
      <section>
        <mat-accordion class="example-headers-align" *ngFor="let item of (heroData | sortPipe:sortGroup())">
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title> Имя: {{ item.name }} </mat-panel-title>
              <mat-panel-description
              ></mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <p>
                Сила: {{ item.power }}
              </p>
              <p>
                Способности: {{ item.aptitude }}
              </p>
              <p>
                Уровень: {{ item.level }}
              </p>
            </div>
            <div (click)="removeHero(item.id)"
                 class="example-button-row">
              <div class="example-flex-container">
                <div class="example-button-container">
                  <div class = "delhero">
                  <button color="primary"
                          mat-raised-button>
                    Удалить героя
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </section>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="2" [colspan]="2" class="ability-add">
    <form>
      <div>
        <h3>Добавление способостей</h3>
        <div>
          <mat-form-field class="example-form-field">
            <input [formControl]="abilityControl"
                   type="text"
                   matInput>
          </mat-form-field>
        </div>
        <mat-dialog-actions class="button">
          <button [disabled]="abilityForm.invalid"
                  (click)="addAbility()"
                  type="button"
                  class="button-add"
                  color="accent"
                  mat-raised-button>
            Добавить способность
          </button>
        </mat-dialog-actions>
      </div>
    </form>
  </mat-grid-tile>
</mat-grid-list>
